<!--==================================== DATOS PERSONALES ===================================================-->
<div id="recuadro">
  <h2 id="Datos-Personales">Datos Personales</h2>
  <dl>
      <dt ><strong>Nombre y Apellido :</strong></dt>
      <dd>Pablo Mario Moya</dd>

      <dt><strong>Direccion :</strong></dt>
      <dd>Vicente Mas y Patagonia</dd>

      <dt><strong>Teléfono :</strong></dt>
      <dd>+542644860538</dd>

      <dt><strong>Correo Electrónico :</strong></dt>
      <dd>pablomoya211@gmail.com</dd>
  </dl>
  <a class="inicio-btn" href="index.html">ir a <strong>Inicio</strong></a>
</div>
