<!--================================== ENCABEZADO =============================================================-->
<div class="imagen_cabecera">
  <img id="cabecera" src="./assets/cabecera1.jpg" width="1200px" height="250px" alt="imagen_cabecera">
</div>

<img id="perfil" src="./assets/yo.jpg" alt="foto1">

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Secciones
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#Datos-Personales"> Datos personales</a></li>
      <li><a class="dropdown-item" href="#Formacion-Academica"> Formación Académica</a></li>
      <li><a class="dropdown-item" href="#Experiencia-Laboral"> Experiencia Laboral</a></li>
      <li><a class="dropdown-item" href="#Datos-de-Interes"> Datos de Interés</a></li>
  </ul>
</div>
